body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    background-color: #387ADF;
    color: rgb(0, 0, 0);
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    top: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
    z-index: 0;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo {
    width: 180px; /* Increased width */
    height: auto;
    padding: 10px;
    border-radius: 5px;
}

.profile {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 20px 0;
    background-color: #D3DEEF;
    padding: 10px;
    border-radius: 5px;
}

.profile .icon {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user-info {
    margin-left: 10px;
    color: #000000;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 100%;
}

nav ul li {
    margin: 10px 0;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
}

nav ul li a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

nav ul li a:hover, 
nav ul li a.active {
    background-color: #ffffff;
    color: #000000;
}

.logout-btn {
    background-color: #D3DEEF;
    color: #000000;
    border: none;
    padding: 10px;
    margin-top: auto;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logout-btn img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.logout-btn:hover {
    background-color: #D3DEEF;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #d9e7ff;
}

header {
    background-color: #387ADF;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.complaints {
    margin-top: 20px;
}

.complaints table {
    width: 100%;
    border-collapse: collapse;
    
}

.complaints table th, .complaints table td {
    border: 1px solid #fff;
    padding: 10px;
    text-align: left;
    background-color: #fff;
}

.complaints table th {
    background-color: #fff;
    color: black;
    font-style: bold;
}

.detail-btn, .doc-btn {
    background-color: #387ADF;
    color: white;
    border-radius: 3px;
    border: none;
}

.status-btn-diproses {
    background-color: yellow;
    border-radius: 3px;
    border: none;


}

.status-btn-diterima {
    background-color: lime;
    border-radius: 3px;
    border: none;

}

.status-btn-ditolak {
    background-color: red;
    border-radius: 3px;
    border: none;

}
